{% extends "base.html" %}
{% block intro %}
<p>General enquiries: <a href="mailto:amir@unsystem.net">amir@unsystem.net</a></p>
<p>Press: <a href="mailto:joseph@unsystem.net">joseph@unsystem.net</a></p>
<p>Speakers: <a href="mailto:amir@unsystem.net">amir@unsystem.net</a></p>
<p>Sponsors: <a href="mailto:andreas@unsystem.net">andreas@unsystem.net</a></p>
<p>Website: <a href="mailto:amir@unsystem.net">amir@unsystem.net</a></p>
<p>GPG key available <a href="{{ STATIC_URL }}genjix.gpg.txt">here</a>.</p>
{% endblock %}
