{% extends "base.html" %}
{% block content %}
<div class="section main">
    <h2><b>Speakers</b></h2>
    <p><a href="/bio/">Click!</a> for detailed bios.</p>
    <p>This site is a preview! Stallman and Kurtz have yet to confirm to anything. We're still locking down the final dates.</p>
    <ol>
        {% for speaker in speakers %}
            <li class="figure {{ speaker.4 }}">
                <a href="{{ speaker.3 }}">
                    <img src="{{ STATIC_URL }}ppl/{{ speaker.2 }}" alt="">
                    <span class="figcaption">{{ speaker.0 }} <b>{{ speaker.1 }}</b></span>
                </a>
            </li>
        {% endfor %}
    </ol>
</div><!-- /end .section.main -->
<div class="section main">
    <h2><b>Venue</b></h2>
    <p>We have the biggest and baddest venue in Vienna normally used by the United Nations.</p>
    <p>We will party at the <a href="http://de.wikipedia.org/wiki/Austria_Center_Vienna">Austria Center Vienna</a>.</p>
    <img src="{{ STATIC_URL }}acv.jpg">
</div>
{% endblock %}

